.not-found-container {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-img {
  height: 270px;
  width: 300px;
}
.page-result-heading {
  font-family: 'Roboto';
  font-size: 35px;
  color: #ffffff;
  font-weight: 500;
}
.page-not-found-error {
  font-family: 'Roboto';
  font-size: 13px;
  color: #f1f5f9;
}

@media (min-width: 768px) {
  .not-found-img {
    height: 330px;
    width: 380px;
  }
  .page-result-heading {
    font-size: 40px;
  }
  .page-not-found-error {
    font-size: 15px;
  }
}
