.login-page-container {
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form-container {
  padding: 22px;
  border-radius: 8px;
  background-color: #272727;
  height: 360px;
  width: 90%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}
.app-logo {
  height: 40px;
  width: 140px;
  align-self: center;
}
.form-container {
  margin-top: 10px;
}
.label-input-container {
  margin-top: 14px;
}
.form-label {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
}
.form-input {
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 14px;
  color: #f1f5f9;
  width: 100%;
  border: 1px solid #b6c5ff;
  border-radius: 3px;
  outline: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 8px;
}
.submit-btn {
  font-family: 'Roboto';
  font-size: 16px;
  color: #f1f5f9;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  height: 35px;
  width: 100%;
  background-color: #6366f1;
  margin-top: 20px;
}
.error-msg {
  font-family: 'Roboto';
  font-size: 16px;
  color: #ff0b37;
}

@media (min-width: 576px) {
  .login-form-container {
    padding: 35px;
    width: 370px;
    max-width: 430px;
  }
  .app-logo {
    height: 46px;
    width: 160px;
  }
  .form-label {
    font-size: 14px;
  }
  .form-input {
    font-size: 15px;
  }
}
