.home-page-container {
  min-height: 100vh;
}
.home-content-container {
  display: flex;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  padding: 16px;
  padding-top: 23px;
  height: 100vh;
}
.home-heading {
  font-size: 32px;
  font-family: 'Roboto';
  color: #ffffff;
}
.home-description {
  font-size: 16px;
  font-family: 'Roboto';
  color: #ffffff;
}
.route-link{
  text-decoration: none;
}
.home-btn {
  font-size: 13px;
  font-family: 'Roboto';
  color: #ffffff;
  border: none;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  height: 37px;
  width: 90px;
  background-color: #6366f1;
}
@media (min-width: 768px) {
  .home-content-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    justify-content: center;
    padding-left: 40px;
  }
  .home-heading {
    font-size: 58px;
  }
  .home-description {
    font-size: 23px;
  }
  .home-btn {
    font-size: 15px;
    height: 40px;
    width: 110px;
  }
  .description-container {
    width: 50%;
  }
}
