.similar-job-card {
  background-color: #272727;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 15px;
  width: 100%;
}
.star-rating-container {
  display: flex;
  align-items: center;
  gap: 6px;
}
.rating {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
}
.rating-star {
  color: #fbbf24;
}
.job-meta-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.location-employment-section {
  display: flex;
  align-items: center;
  gap: 15px;
}
.job-meta-data-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.meta-data {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
}
.meta-data-icon {
  color: #ffffff;
}
.card-sub-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 18px;
}
.card-description {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
}
.similar-job-company-logo {
  height: 38px;
  width: 40px;
}
.similar-job-title {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .similar-job-card {
    border-radius: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    width: 35%;
    max-width: 320px;
  }
  .basic-company-info-section {
    gap: 13px;
  }
  .star-rating-container {
    gap: 8px;
  }

  .location-employment-section {
    gap: 18px;
  }
  .job-meta-data-container {
    gap: 10px;
  }
  .meta-data {
    font-size: 15px;
  }
}
